<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.ykw.dao.BusinessInfoDAO">
    <select id="selectByBusinessId" parameterType="int" resultType="com.qianfeng.ykw.pojo.BusinessInfo">
        SELECT * FROM businessinfo WHERE business_id=#{businessId}
    </select>

    <!--/查出所有商户-->
    <select id="selectAllBusiness" resultType="com.qianfeng.ykw.pojo.BusinessInfo">
        SELECT a.business_id, a.business_info_name, a.business_info_legal_person, a.business_info_legal_person_tel, b.business_isfreeze FROM businessinfo a, business b
        where a.business_id = b.business_id
    </select>


<!--    创建对应的基础信息-->
    <insert id="insertBlankBusinessInfo" parameterType="int">
        INSERT INTO businessinfo (business_id) VALUES (#{businessId})
    </insert>

    <update id="updateBusinessInfo" parameterType="com.qianfeng.ykw.pojo.BusinessInfo">
        update businessinfo set business_info_name = #{businessInfoName}, business_info_legal_person = #{businessInfoLegalPerson}, business_info_legal_person_tel = #{businessInfoLegalPersonTel}
    </update>

    <select id="selectAllBusinessInfoWithPass" parameterType="int" resultType="com.qianfeng.ykw.pojo.BusinessInfo">
        SELECT b.business_id, a.business_info_name, a.business_info_legal_person, a.business_info_legal_person_tel, b.business_username, c.business_password FROM businessinfo a,
        business b, businesspassword c
        where a.business_id = b.business_id and c.business_id = b.business_id and b.business_id = #{businessId}
    </select>
</mapper>