<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.ykw.dao.BusinessPasswordDAO">
<!--    查询商户密码是否正确-->
    <select id="selectByPasswordAndId" parameterType="com.qianfeng.ykw.pojo.BusinessPassword" resultType="com.qianfeng.ykw.pojo.BusinessPassword">
        SELECT * FROM businesspassword WHERE business_id=#{businessId} AND business_password=#{businessPassword}
    </select>
<!--    创建商户密码-->
    <insert id="insertNewPassword" parameterType="com.qianfeng.ykw.pojo.BusinessPassword">
        INSERT INTO businesspassword (business_password, business_id) VALUES (#{businessPassword}, #{businessId})
    </insert>
</mapper>