<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.ykw.dao.BusinessDAO">
<!--    查询商户是否存在-->
    <select id="selectByBusinessName" parameterType="java.lang.String" resultType="com.qianfeng.ykw.pojo.Business">
        SELECT * FROM business WHERE business_username=#{businessName}
    </select>
<!--    创建商户-->
    <insert id="insertNewBusiness" parameterType="com.qianfeng.ykw.pojo.Business">
        INSERT INTO business (business_username) VALUES (#{businessUsername})
    </insert>

    <update id="freezeBuiness" parameterType="com.qianfeng.ykw.pojo.Business">
        update business set business_isfreeze = #{businessIsfreeze} where business_id = #{businessId}
    </update>

    <select id="selectByBusinessIsfreeze" resultType="com.qianfeng.ykw.pojo.Business">
        select *from business where business_isfreeze = true
    </select>

    <update id="updateBusiness" parameterType="com.qianfeng.ykw.pojo.Business">
        update business set business_username = #{businessUsername} where business_id = #{businessId}
    </update>
</mapper>