<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.ykw.dao.ILoginPasswordDAO">
    <!--方法名称=id 参数类型=parameterType 返回类型=数字-->
    <select id="selectByUID" parameterType="hashmap" resultType="com.qianfeng.ykw.pojo.LoginPassword">
        SELECT * FROM loginpassword WHERE uid=#{UID} AND login_user_password=#{loginUserPassword}
    </select>
    <update id="updateLoginPassword" parameterType="com.qianfeng.ykw.pojo.LoginPassword">
        UPDATE loginpassword SET login_user_password=#{loginUserPassword} WHERE uid=#{uid}
    </update>
</mapper>