<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.ykw.dao.ISystemUserDAO">
    <!--方法名称=id 参数类型=parameterType 返回类型=数字-->
    <select id="selectByUserName" parameterType="java.lang.String" resultType="com.qianfeng.ykw.pojo.SystemUser">
        SELECT * FROM systemuser WHERE user_name=#{userName}
    </select>
    <select id="selectSystemUserAllInfo" resultType="com.qianfeng.ykw.pojo.SystemUserAllInfo">
        SELECT systemuser.uid, userinfo.user_info_true_name, userinfo.user_info_tel,
               userinfo.user_info_sex, systemuser.user_name
        FROM systemuser, userinfo WHERE systemuser.uid = userinfo.uid
    </select>
    <select id="selectSystemUserAllInfoByUid" parameterType="java.lang.Integer" resultType="com.qianfeng.ykw.pojo.SystemUserAllInfo">
        SELECT systemuser.uid, userinfo.user_info_true_name, userinfo.user_info_tel,
               userinfo.user_info_sex, systemuser.user_name, loginpassword.login_user_password
        FROM systemuser, userinfo, loginpassword
        WHERE systemuser.uid = userinfo.uid AND systemuser.uid = loginpassword.uid AND systemuser.uid=#{uid}
    </select>
    <update id="updateSystemUser" parameterType="com.qianfeng.ykw.pojo.SystemUser">
        UPDATE systemuser SET user_name=#{userName} WHERE uid=#{uid}
    </update>
</mapper>